.back-button {
  position: absolute;
  top: 2vh;
  left: 2vw;
}

label {
  font-weight: bolder;
}

input {
  border-left: none;
  border-right: none;
  border-top: none;
}

.ad-btn {
  width: 50vw;
  position: absolute;
  bottom: 5vh;
  margin-left: 25vw;
  margin-right: auto;
}
