<div class="search">
  <input
    ngx-google-places-autocomplete
    #placesRef="ngx-places"
    (onAddressChange)="handleAddressChange($event)"
  />

  <button (click)="search()" class="search-btn">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
</div>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  class="map"
  [zoom]="zoom"
  (mapClick)="onChosenPlace($event)"
>
  <ng-container *ngIf="placeSelected">
    <agm-marker
      [latitude]="location.lat"
      [longitude]="location.lng"
      *ngFor="let location of markedLocation"
    >
    </agm-marker>
  </ng-container>
</agm-map>

<button class="btn btn-danger btn-lg ad-btn" (click)="post()">
  POST YOUR AD
</button>
